* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;  
}

li {
    display: inline;
    float: left;
}
a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
    text-decoration: none;
}

li a :hover {
    background-color: aqua;
}

#footer {
    color: antiquewhite;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
